[Unit]
Description=TCP DNS Forwarder
After=network.target

[Service]
EnvironmentFile=-/etc/default/mini-dot
Type=simple
ExecStart=/usr/bin/forwarder.py --tls 127.0.0.1 $DOT_PROVIDER
Restart=on-failure

[Install]
WantedBy=network.target
