[Unit]
Description=TCP DNS Forwarder
After=network.target

[Service]
EnvironmentFile=-/etc/default/mini-dot
ExecStart=/usr/bin/forwarder.py start $UDP_LISTENER $DOT_PROVIDER
ExecStop=/bin/kill -TERM $MAINPID
KillMode=none
Type=forking
PIDFile=/run/forwarder.pid
Restart=on-failure

[Install]
WantedBy=network.target
